@model ListaCompra.Models.Produto

@{
    ViewBag.Title = "Detalhes do produto";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
