@model IEnumerable<ListaCompra.Models.Compra>

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>

@if (ViewBag.CompraAtual.CompraProdutos != null) {

    <table class="table">
        <tr>
            <th>
                Descrição do produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Preço unitário
            </th>
            <th>
                Preço total
            </th>
        </tr>

    @foreach (var CompraProduto in ViewBag.CompraAtual.CompraProdutos)
    {
        <tr>
            <td>
                @CompraProduto.Produto.Descricao
            </td>
            <td>
                @CompraProduto.Quantidade
            </td>
            <td>
                R$ @CompraProduto.Produto.PrecoUnitario
            </td>
            <td>
                R$ @(CompraProduto.Produto.PrecoUnitario * CompraProduto.Quantidade)
            </td>
        </tr>
    }

    </table>

    <h3>Valor total da Compra: R$ @ViewBag.CompraAtual.GetValorTotal()</h3>

    <form action="/Compras/FinalizarCompra" method="get">
        <div>
            <button class="btn btn-success" type="submit">Finalizar compra</button>
        </div>
    </form>

}
else {
    <div><p>Não foram adicionados produtos no carrinho!</p></div>
}
